<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kl3jvi.feature_favorites">
    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module
        dist:instant="true"
        dist:title="@string/feature_favorites">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>