<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kl3jvi.feature_home">
    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/feature_home">
        <dist:fusing dist:include="false"/>
    </dist:module>

</manifest>